#books{
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  border:1px solid black;
  width:200px;
  margin: 10px;
}
#books li{
  padding: 10px;
  margin:10px;
}
.main{
  display:flex
}
