@import "~bootstrap-icons/font/bootstrap-icons.css";
.main-card{
  display:flex;
  flex-wrap: wrap;
  width:70%;
  justify-content: space-around;
}
.addCard{
  width:300px;
  height:'200px'
}
.item-card{
  width:250px
}
.cartShape{
  width:100px;
  height:100px;
  color:black
}
.cartimg{
  position: absolute;
  font-size: 50px;
  top: 10px;
  right: 10px;

}

  
  